<!DOCTYPE html>
<html lang="en">
  <head>
    <title>New Project Tab Title</title> <!-- change to whatever you'd like -->
    <link href="/styles.css" rel="stylesheet" media="all">
  </head>

  <body>

      <%= yield %>

  </body>
</html>
